<!DOCTYPE html>
<html>
<head>
  <title>Meme Tube</title>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="/stle.css">
</head>
<body>
<div class="inline">
  <div class="header">
    <h1>MEME TUBE</h1>
  </div>
<div class="nav-contain">
 <ul>
    <li><a href="/videos">Home</a></li>
    <li><a href="/new">Post a video</a></li>
    <li><a href="/genre">Genre</a></li>
 </ul>

 </div>
 </div>

  <%=yield%>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src='/script.js'></script>
</body>
</html>


