<!DOCTYPE html>
<html>
<head>
  <title>Meme Tube</title>
   <link rel="stylesheet" type="text/css" href="/stle.css">
</head>
<body>
<h1>MEME TUBE</h1>
  <%=yield%>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src='/script.js'></script>
</body>
</html>